<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home del Cliente</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <h2>Turnos Disponibles</h2>
    <ul class="turn-list">
        <li class="turn-item">Turno 1: 09:00 - 09:45 <a href="{% url 'client:create_client' %}">Reservar</a></li>
        <li class="turn-item">Turno 2: 10:00 - 10:45</li>
        <li class="turn-item">Turno 3: 11:00 - 11:45</li>
    </ul>
</body>
</html>

